@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem !important;
  background: #343a40 !important;
  color: #f8f9fa !important;
  position: relative;
}

a{
  text-decoration: none !important;
}

.btn-primary {
  background-color: #ff214f !important;
  border-color: #ff214f !important;
}

.btn-primary:hover {
  background-color: #fa0034 !important;
  border-color: #fa0034 !important;
}
/* ================== scroll thumb ============= */
::-webkit-scrollbar {
  width: 8px;
  background-color: #ddd;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: hsl(0, 0%, 60%);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 40%);
}

/* ================= navbar ================ */
.custom-navbar {
  min-width: 140px;
}

.navbar-nav {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.nav-link {
  font-weight: 700;
  color: #f8f9fa !important;
}
.nav-item:hover .nav-link {
  color: hsl(0, 0%, 60%) !important;
}

.navbar-dark .navbar-brand {
  width: 100%;
  color: #fa0034 !important;
}
.navbar-brand .brand-img {
  width: 110px;
  display: inline-block;
  margin: auto;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s linear 0s;
  border-radius: 30%;
}

.navbar-brand .brand-txt {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  font-weight: 700;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear 0s;
}

.affix {
  min-height: 80px;
  background: #343a40;
  border-bottom: 1px solid #495057;
}
.affix .navbar-brand .brand-img {
  width: 50px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30px);
}
.affix .navbar-brand .brand-txt {
  opacity: 1;
  visibility: visible;
  bottom: 50%;
}

.nav-pills .nav-link.active {
  background-color: transparent !important;
  color: #ff214f !important;
}

/* ================ hero section ================ */
.hero {
  height: 100vh;
  max-height: 900px;
  min-height: 750px;
  background: url(./assets/hero.jpg) no-repeat center center fixed;
  background-size: cover;
}

.hero .overlay {
  height: 100%;
  background: rgba(33, 37, 41, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ================ about section ================ */
.about-bg-img {
  background: url(./assets/about-img.jpg) no-repeat center center;
  background-size: cover;
}

/* ================ gallary section ================ */
.gallary-tittle-ht{
  min-height: 300px;
}
.gallary-tittle-ht .gallary-tittle{
  font-size: 4rem;
}

.gallary{
  margin: 0 !important;
}

.gallary-item{
  padding: 0 !important;
  border: 1px solid #343a40;
  position: relative;
}
.gallary-item img{
  width: 100%;
  border-radius: 4px;
}

.gallary-item .gallary-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 58, 64, 0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s linear 0s;
}
.gallary-item .gallary-overlay:hover{
  opacity: 1;
}
.gallary-item .gallary-overlay i{
  font-size: 4rem;
  color: #fff;
}

/* ================ about section ================ */